
.table {
	background-color: #00a000;
	box-shadow: 2px 2px 27px #646464 inset;
	border: 3px solid #772626;
	border-radius: 30px;
	padding: 20px;
}

section {
	margin: 1em;
}


ul.playerHand {
	display: flex;
	list-style: none;
	margin: 1ex 0;
	padding: 0;
}

li.card {
	background-color: white;
	border-radius: 5px;
	box-shadow: 1px 1px 1px #112C0A;
	/*float: left;*/
	height: 4em;
	margin-right: 1ex;
	padding: 1ex;
	text-align: right;
	width: 5ex;
}
li.card.red {
	color: red;
}
li.card.black {
	color: black;
}

.playerStats {
	clear: both;
	margin: 1ex 0;
}